.Home aside {
  display: inline-flex;
  float: left;
  width: 200px;
  height: 650px;
  border-right: 1px solid #000;
  // display: flex;
  flex-flow: column;
}
.Home aside button {
  width: 150px;
  margin: 10px auto;
}
