@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$darkcolor: #758184;
$font-family: "Montserrat", sans-serif;
* {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}
.darknav {
  display: flex;
  margin-left: 250px;
  justify-content: space-between;
  width: 1000px;
  height: 150px;
  background-color: $darkcolor;
}
.darknav a {
  padding: 3%;
}
.Link {
  color: #fff;
  list-style: none;
}
.anchorInput {
  font-family: $font-family !important;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border: none;
  color: #fff;
  outline: none;
  background-color: $darkcolor;
  width: 150px;
}
.darknav a input:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
}
.options {
  position: absolute;
  width: 200px;
  height: 100vh;
  display: block;
  background-color: gray;
  margin: 0em;
  margin: 10px 20px 0px 10px;
}
