.properties {
  position: absolute;
  width: 50rem;
  height: 50rem;
  top: 5rem;
  right: 2rem;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
  animation: bounceIn 0.3s ease-out;
  border-radius: 10px;

  &__title {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }

  &__section {
    padding: 1rem 2rem;
    max-width: 90%;
    margin: 0 auto;
  }

  &__divider {
    background-color: #ccc;
    width: 90%;
    margin: 0 auto;
    height: 2px;
    border-radius: 10px;
  }

  &__label {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__textinput {
    background-color: #eee;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
  }

  &__color-picker {
    &__parent {
      position: relative;
    }

    &__trigger {
      background: red;
      width: 3rem;
      height: 3rem;
      border-radius: 5px;
      cursor: pointer;
      border: solid 1px #000;
    }
    &__picker {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-out;
      transform: scale(0);
      transform-origin: 0 0;
      &--visible {
        transform: scale(1);
      }
    }
  }
}
