.sidebar {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  padding: 1rem 0;

  &__section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__title {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5rem;
      &__span {
        font-size: 2rem;
        max-width: 90%;
        font-weight: bold;
        text-transform: capitalize;
      }

      &__icon {
        font-size: 1.5rem;
        transition: all 0.2s ease-out;
        &--flipped {
          transform: rotate(180deg);
        }
      }
    }

    &__content {
      transform: scaleY(0);
      opacity: 0;
      height: 0;
      transition: all 0.2s ease-out;
      transform-origin: 50% 0;
      &--expanded {
        height: auto;
        width: 100%;
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }

  &__divider {
    background-color: #ccc;
    border-radius: 10px;
    width: 90%;
    margin: 1rem auto;
    height: 2px;
  }

  &__option {
    background-color: #eee;
    margin: 1rem auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 90%;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin: 0 1rem;
    }

    &--disabled {
      background-color: #fff;
    }
  }

  &__list-wrapper {
    width: 100%;
  }
}
