.btn {
  padding: 1rem 2rem;
  background-color: #ccc;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  resize: both;
  text-align: center;
  overflow: hidden;
}

.text {
  font-size: 3rem;
  cursor: pointer;
  text-align: center;
}
